/* SITE BASES */
body {
    box-sizing: border-box;
    /* width: 1500px; */
}

/* @media screen and (min-width:360px) {
    body{
        box-sizing: border-box;
        width: 360px;
    }
    .header_top,.portfolioContent, .main_content_container, .about_me_container, .about_me_pic, .about_me_set, .about_me_combo, .about_me, .contact_me, .contact_combo, .contact_me_section, .contact_me_section form, .contact_links {
        display: flex;
        flex-direction: column;
    }

} */

/* UNDER CONSTRUCTION */
/* .construction {
    display: block;
    text-align: center;
    background-color: grey;
    padding: 1rem;
}
.construction h1 {
    padding: 0;
    margin: 0;
    color: yellow;
}
.construction p {
    color: white;
}
.boldText {
    font-weight: bold;
    font-style: italic;
}
.portfolioContent {
    display: none;
} */

/* HEADER */
.header_top {
    display: flex;
    justify-content: space-between;
}

/* .job_title {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
} */
.job_title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.job_title h3 {
    padding: 0;
    margin: 0;
}

.job_title h4 {
    padding: 0;
    margin: 0;
}

/* NAV */
/* #header_code_fields {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: space-between;
} */

/* SURVEY WINDOW */
.survey_window {
    padding: .5rem;
    margin-bottom: 1rem;
}

/* MAIN CONTAINER */
.main_content_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* ABOUT ME */
.about_me_container {
    display: flex;
    flex-direction: column;
    /* margin: 10px;
    padding: 25px; */
}

.about_me_set {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    align-items: center;
}

.about_me {
    display: flex;
    flex-direction: column;
}

/* .random_fact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
} */
.random_fact {
    display: none;
}

/* SKILLS */
.skill_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
}

.skill_group {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
}

.skill_group ul {
    padding: 0;
    margin: 0;
}

.skill_group h3 {
    padding: 0;
    margin: 0;
}

.skill_group ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 1rem;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.skill_group li {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.skill_list p {
    padding: 0;
    margin: 0;
}

.skillBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillBox2 {
    display: none;
}

.open {
    display: inline;
}

.close {
    display: none;
}

/* PROJECTS */
.project_articles {
    display: flex;
    columns: 3;
    justify-content: space-around;
}

.project_articles article p {
    width: 200px;
}

.otherProjects {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.otherProjects h4 {
    padding: 1rem;
    border-radius: 5px;
}

/* HAIKU */

/* CONTACT ME */
.contact_combo {
    display: grid;
    grid-template-columns: auto auto auto;
    /* justify-content: space-between; */
    align-items: center;
    justify-items: center;
}

.contact_me_section {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.contact_me_section form {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
}

.form_left {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form_left div {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.form_message {
    display: flex;
    flex-direction: column;
}

.form_right {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.contact_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_links ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact_links li a {
    display: flex;
    gap: .5rem;
    align-items: center;
    text-align: center;
}

/* FOOTER */
footer {
    margin-top: 2rem;
}